@import './variables';
$heart-size: 16px;
$avatar-size: 32px;

.card {
  background-color: white;
  margin: 16px 0;
  cursor: pointer;
}

.card_top{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card_detail {
  padding-top: 12px;
  padding-bottom: 15px;
  cursor: pointer;
  display: flex;
  font-size: 10px;

  img {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
    margin-right: 8px;
  }

  .name{
    font-weight: 700;
    margin-bottom: 7px;
  }
}
.editdelete{
  margin: auto 0;
  display: flex;
}

.edit_link{
  margin-right: 15px;
}

.card_image {
  height: 180px;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.card_hcs {
  padding: 7px 0;
  display: flex;

  .icon {
    font-size: 18px;
    padding-right: 15px;
  }
}

.card_content{
  p{
    font-size: 12px;
  }

  .card_content2{
    display: flex;

    .name{
      font-weight: 600;
      margin-right: 10px;
    }
  }
}

.top_fixed2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .profile_user{
    width: 20px;
  }
}